version: '3.8'
services:
  frontend:
    build: .
    image: jarvisadr/literature-frontend:latest
    container_name: literature-frontend
    ports:
      - "3000:3000"
    restart: always

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - /var/lib/docker/volumes/jenkins_home/_data/workspace/literature-frontend_main/nginx-runtime-config:/etc/nginx/conf.d/:ro
    depends_on:
      - frontend
    restart: always
